@charset "utf-8";

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    color: #777;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  background-color: transparent;
}

.wallpaper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0;
  opacity: 1;
  transition-property: opacity;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.05);
}

.app:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: inherit;
  border: inherit;
  content: "";
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.05);
  z-index: 1020;
}

.app-header,
.navbar-header, 
.navbar {
  height: 50px;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #777777;
}

.navbar-item a {
  padding: 15px;
  cursor: pointer;
  height: 100%;
}


.navbar {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-form {
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.navbar-search {
  height: 30px;
  font-size: 12px;
  line-height: 1.5;
}

.navbar-right {
  margin-right: -15px;
  height: 100%;
}

.login-panel, 
.setting-panel {
  background-color: #f9f9f9;
  margin-top: 0;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.login-panel {
  width: 260px;
}

.setting-panel {
  width: 130px;
  font-size: 14px;
}

.setting-panel ul {
  list-style: none;
  padding: 0;
  padding-top: 6px;
}

.setting-panel-item {
  width: 100%;
  fill: #777777;
  line-height: 20px;
}

.setting-panel-item a{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
}

.setting-panel-item a:hover {
  background-color: rgba(177, 177, 177, .1)!important;
  color: #00a1d6;
  fill: #00a1d6;
}

.navbar-brand {
  display: inline-block;
  float: none;
  height: auto;
  padding: 0 20px;
  margin-right: 0;
}

.navbar-brand img {
  height: 100%;
  max-width: 200px;
}

.app-asider {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 220px;
}

.asider-wrapper {
  overflow: auto;
  max-height: 84.5%;
  display: block;
}

.user-panel {
  width: 100%;
  height: auto;
}

.user-panel-bg {
  width: 100%;
  height: 64px;
}

.login-btn {
  color: #fff;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: all .2s ease;
}

.user-name-ava-wrapper {
  display: flex;
}

.user-name {
  padding-top: 10px;
  color: #000;
  font-size: 16px;
}

.user-name:hover {
  color: #00a1d6;
}

.user-avatar {
  width: 56px;
  height: 56px;
  margin-top: -8px;
  margin-left: 15px;
  margin-right: 15px;
}

.user-avatar img {
  border-radius: 50%;
}

.user-data {
  height: auto;
  margin: 0 10% 0 10%;
  display: flex;
}

.user-data a {
  text-decoration: none;
  cursor: pointer;
}

.user-data-unit:hover {
  color: #00a1d6;
}

.user-data-unit {
  height: inherit;
  width: calc(100%/3);
  text-align: center;
  color: #99a2aa;
}

.user-data-num {
  padding-top: 15px;
  margin: 0;
  font-weight: bold;
  line-height: 19px;
  color: #00a1d6;
}

.user-data-text {
  padding-top: 9px;
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  color: inherit;
}

.nav-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: .2s;
  fill: #777777;
}

.nav-item a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-item svg,
.setting-panel-item svg {
  fill: inherit;
}

.nav-item svg:hover,
.setting-panel svg:hover {
  fill: #00a1d6;
}

.nav-item a:hover,
.asider-footer a:hover {
  background-color: rgba(177, 176, 176, 0.2)!important;
  color: #00a1d6;
  fill: #00a1d6;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin: -10px -10px;
  margin-right: 0;
  line-height: 40px;
  text-align: center;
}

.nav-item-name {
  display: flex;
}

.nav-item-num {
  display: inline-block;
  min-width: 10px;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 700;
  margin-top: 3px;
  padding: 2px 5px;
  background-color: rgba(212, 218, 219, 0.5);
  border-radius: 10px;
}

.nav-item-sub {
  width: 100%;
  background-color: rgba(249, 249, 249, .4);
}

.nav-item .nav-item-sub a {
  padding-left: 55px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item .nav-item-sub li {
  list-style: none;
}

.nav-item .nav-item-sub a:hover {
  background-color: rgba(177, 176, 176, .4)!important;
}

.asider-footer {
  position: absolute;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(249, 249, 249, .3)!important;
  line-height: 1.6;
}

.app-content {
  height: 100%;
}

.app-content-body {
  width: 100%;
  padding-bottom: 58px;
  display: flex;
}

.main-col {
  vertical-align: top;
  height: 100%;
  display: table-cell;
  margin: 8px;
}

.post-blog {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.pic-panel {
  position: relative;
  display: flex;
  background-position: 50% 50%;
  background-size: cover;
  background-color: rgba(249, 249, 249, .85)!important;
  margin-bottom: 20px;
}

.post-thumbnail {
  position: relative;
  margin: 0!important;
  padding: 0!important;
}

.pic-thumbnail {
  border-radius: inherit;
  position: relative;
  width: 100%;
  object-fit: cover;
  display: flex;
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  justify-content: center;
  align-content: center;
}

.blog-img {
  height: 250px;
  max-height: 250px;
}

.pic-blog-header,
.post-header {
  border-radius: inherit;
  width: 100%;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.pic-blog-header {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(180deg, transparent, rgba(0,0,0,.5));
}

.post-title {
  padding-bottom: 1px;
  margin-top: 0;
}

.main-asider {
  vertical-align: top;
  width: 240px;
  margin: 8px 0;
  border-radius: 6px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  height: auto;
}

.main-asider-header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.main-asider-header .icon {
  display: flex;
  justify-content: center;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -50px;
  margin-bottom: 8px;
}

.app-footer a:hover {
  color: #2a3003;
}

.right-side-btn {
  position: fixed;
  top: 165px;
  right: -240px;
  width: 240px;
}

.right-side-btn > btn {
  position: absolute;
  top: 44px;
  left: -45px;
  padding: 10px 15px;
  background-color: #f6f8f8!important;
  border-color: rgba(222, 229, 231, .6);
  border-right-width: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

@media (min-width: 768px) {
  .app {
    width: 750px;
  }
  .app-header {
    max-width: 750px;
  }
  .app-header .navbar {
    display: flex;
    height: auto!important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .app-asider,
  .navbar-header {
    width: 200px;
    float: left;
  }
  .app-content,
  .app-footer,
  .navbar {
    margin-left: 200px;
  }
  .main-col {
    width: 550px;
  }
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
    float: left;
  }
  
  .navbar .nav > li > a {
    padding: 15px;
  }

  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .hidden-sm {
    /* 大于sm时隐藏 */
    display: none;
  }
}

@media (max-width: 768px) {
  .app {
    overflow: hidden;
  }
  .test+* {
    position: fixed;
  }
  .main-col {
    width: 100%;
  }
  .pop-l-sm {
    /* 小于sm时隐藏, 且会弹出 */
    display: none!important;
  }
  .move-right {
    transform: translate3d(220px, 0, 0);
    transition: transform 1s ease;
  }
  .move-left {
    transform: translate3d(0, 0, 0);
    transition: transform 1s ease;
  }
  .footer {
    margin-right: 8px;
  }
}

@media (min-width: 992px) {
  .app {
    width: 970px;
  }
  .app-header {
    max-width: 970px;
  }
  .app-asider,
  .navbar-header {
    width: 220px;
  }
  .app-content,
  .app-footer,
  .navbar {
    margin-left: 220px;
  }
  .main-col {
    width: 510px;
  }
}

@media (min-width: 1200px) {
  .app {
    width: 1170px;
  }
  .app-header {
    max-width: 1170px;
  }
  .main-col {
    width: 710px;
  }
}

@media (max-width: 1200px) {
  .blog-img {
    min-height: 185px;
    height: auto;
  }
}

@media (min-width: 1800px) {
  .app.container {
    width: 1300px;
  }
  .app-header {
    max-height: 1300;
  }
}

@media (min-width: 3840px) {
  .app.container {
    width: 3000px;
  }
  .app-header {
    width: 3000px;
  }
}

.font-gray {
  color: #777;
}

.bg-white {
  background-color: rgba(249, 249, 249, .85)!important;
}

.bg-white-s {
  background-color: rgb(249, 249, 249)!important;
}

.bg-gray {
  color: #58666e;
  background-color: rgba(249, 249, 249, .15)!important;
}

.bg-light {
  background-color: rgba(249, 249, 249, .95)!important;
}

.bg-pure-white {
  background-color: #fff;
}

.bg-black {
  color: #fff;
  background-color: rgb(10, 9, 9);
}

.rounded {
  border-radius: 500px!important;
}

.padder {
  padding-left: 15px;
  padding-right: 15px;
}

.padder-lg {
  padding-left: 30px;
  padding-right: 30px
}

.input-group {
  position: relative;
  float: left;
  display: inline-table;
  vertical-align: middle;
}

.input-group-btn {
  vertical-align: middle;
  width: auto;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  display: table-cell;
}

.btn {
  font-weight: 500;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-rounded {
  border-radius: 50px;
}

#search_input {
  border: none!important;
}

#search_submit button {
  color: #000;
  padding: 5px 10px;
  font-size: 12px;
}

.form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form button.active>span {
  display: none;
}

.form-group .form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(68, 139, 255, .25);
  border-color: #c4daff;
  border-width: 1px;
}

.active>.text-active {
  display: inline-block!important;
}

button:focus {
  outline: none;
}

::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}

.bg-black .nav > li > a:focus,
.bg-black .nav > li > a:hover,
.bg-black .navbar-item > a:hover {
  background-color: #000;
  color: #fff;
}

.bg-black .nav > li > a,
.bg-black .navbar-item > a {
  color: #777777;
}

.bg-black .nav > li > a > svg,
.bg-black .navbar-item > a > svg {
  fill: currentColor!important;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.navbar-right .dropdown {
  display: flex;
}

div {
  display: inherit;
}

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

label {
  font-weight: 400;
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.text-active {
  display: none;
}

.text-title {
  color: #555;
}

.text-xs {
  font-size: 12px;
}

.text-black {
  color: #000;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.letterspace {
  letter-spacing: 2px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-l-gap {
  margin-left: 8px;
}

.no-margin {
  margin: 0!important;
}

.p-t {
  padding-top: 10px;
}

.p-b {
  padding-bottom: 10px;
}

.p-t-lg {
  padding-top: 20px;
}

.p-b-lg {
  padding-bottom: 20px;
}

.p-l-lg {
  padding-left: 20px;
}

.p-r-lg {
  padding-right: 20px;
}

.wrapper {
  padding: 15px;
}

.wrapper-lg {
  padding: 20px
}

.wrapper-xlg {
  padding: 1.5rem;
}

.no-padder {
  padding: 0;
}

.h-w {
  width: 100%;
}

.h-h {
  height: 100%;
}

.d-fl {
  display: flex;
}

.d-n {
  display: none!important;
}

.f-right {
  float: right;
}

.f-between {
  justify-content: space-between;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.border-radius {
  border-radius: 6px;
}

.no-border {
  border: none;
  border-radius: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-top: 0;
}

.margin-left {
  margin-left: 220px;
}

.rotate-cw-180 {
  transform: rotate(180deg);
  transition: transform 1s ease;
}

.rotate-0 {
  transform: rotate(0deg);
  transition: transform 1s ease;
}

.show-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  display: none;
  cursor: pointer;
}
